{{colors.surface.dark.hex}},{{colors.surface.light.hex}},{{colors.primary.dark.hex}},{{colors.surface.dark.hex}},{{colors.surface_variant.dark.hex}},{{colors.on_surface.dark.hex}},{{colors.primary.dark.hex}},{{colors.error.dark.hex}},{{colors.background.dark.hex}},{{colors.on_background.dark.hex}}
