{
  "manifest_version": 3,
  "name": "Matugen Brave Theme",
  "version": "1.0",
  "theme": {
    "colors": {
      "frame": [
        {{ colors.surface.default.red }},
        {{ colors.surface.default.green }},
        {{ colors.surface.default.blue }}
      ],
      "frame_inactive": [
        {{ colors.surface_container_low.default.red }},
        {{ colors.surface_container_low.default.green }},
        {{ colors.surface_container_low.default.blue }}
      ],
      "toolbar": [
        {{ colors.surface_container_high.default.red }},
        {{ colors.surface_container_high.default.green }},
        {{ colors.surface_container_high.default.blue }}
      ],
      "tab_text": [
        {{ colors.on_surface.default.red }},
        {{ colors.on_surface.default.green }},
        {{ colors.on_surface.default.blue }}
      ],
      "tab_background_text": [
        {{ colors.on_surface_variant.default.red }},
        {{ colors.on_surface_variant.default.green }},
        {{ colors.on_surface_variant.default.blue }}
      ],
      "bookmark_text": [
        {{ colors.on_surface.default.red }},
        {{ colors.on_surface.default.green }},
        {{ colors.on_surface.default.blue }}
      ],
      "omnibox_background": [
        {{ colors.surface_container.default.red }},
        {{ colors.surface_container.default.green }},
        {{ colors.surface_container.default.blue }}
      ],
      "omnibox_text": [
        {{ colors.on_surface.default.red }},
        {{ colors.on_surface.default.green }},
        {{ colors.on_surface.default.blue }}
      ]
    }
  }
}
