pkgbase = zera
	pkgdesc = Beautiful Arch Linux + Hyprland desktop environment
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/maxwell/zera
	arch = any
	license = MIT
	depends = hyprland
	depends = xdg-desktop-portal-hyprland
	depends = polkit-kde-agent
	depends = qt5-wayland
	depends = qt6-wayland
	depends = sddm
	depends = pipewire
	depends = pipewire-pulse
	depends = wireplumber
	depends = fish
	depends = kitty
	depends = starship
	depends = waybar
	depends = wofi
	depends = dunst
	depends = hyprpaper
	depends = grim
	depends = slurp
	depends = stow
	depends = git
	optdepends = matugen: Dynamic color theming from wallpapers
	optdepends = walker: Alternative application launcher
	optdepends = brave-bin: Recommended browser
	optdepends = docker: Container support
	optdepends = steam: Gaming
	source = zera-0.1.0.tar.gz::https://github.com/maxwell/zera/archive/v0.1.0.tar.gz
	sha256sums = SKIP

pkgname = zera
